<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.staf.listeners.ListenersClass" />
        <listener class-name="com.staf.listeners.MethodInterceptor" />
        <listener class-name="com.staf.listeners.AnnotationListener" />

    </listeners>
    <test verbose="2" preserve-order="true" name="Test" thread-count="2" parallel="methods">
        <classes>
            <class name="com.staf.tests.AmazonTests"/>
        </classes>
    </test>
</suite>