<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.staf.listners.ListenersClass" />
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/SeleniumTestAutomationFramework" thread-count="2" parallel="methods">
        <classes>
            <class name="com.staf.tests.OrangeHRMLoginTest">
                <methods><include name="loginTest"/>
                </methods>
            </class>
            <class name="com.staf.tests.OrangeHRMHomePageTest">
                <methods><include name="applyLeave"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>